{% url 'home' as home_url %}
<section class="theme-bg call_action_wrap-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <div class="call_action_wrap">
                    <div class="call_action_wrap-head">
                        <h3>Do You Have Questions ?</h3>
                        <span>We'll help you to grow your career and growth.</span>
                    </div>
                    <div class="newsletter_box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Subscribe here...">
                            <div class="input-group-append">
                            <button class="btn search_btn" type="button"><i class="fas fa-arrow-alt-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- ============================ Footer Start ================================== -->
    <footer class="dark-footer skin-dark-footer style-2">
        <div class="before-footer">
            <div class="container">
                <div class="row">
            
                    <div class="col-lg-4 col-md-4">
                        <div class="single_facts">
                            <div class="facts_icon">
                                <i class="ti-shopping-cart"></i>
                            </div>
                            <div class="facts_caption">
                                <h4>Free Home Delivery</h4>
                                <p>Free Delivery around nearby Locations</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4">
                        <div class="single_facts">
                            <div class="facts_icon">
                                <i class="ti-money"></i>
                            </div>
                            <div class="facts_caption">
                                <h4>Money Back Guarantee</h4>
                                <p>7 Days Money Back Guarantee</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4">
                        <div class="single_facts last">
                            <div class="facts_icon">
                                <i class="ti-headphone-alt"></i>
                            </div>
                            <div class="facts_caption">
                                <h4>24x7 Online Support</h4>
                                <p>Our Customer Care Representatives are always online to attend to you</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-4">
                        <div class="footer_widget">
                            <h4 class="extream">Contact us</h4>
                            <p>Let's here all about it! <a href="{% url 'pages:contact' %} " class="theme-cl">Get in touch</a></p>
                            
                            <div class="address_infos">
                                <ul>
                                    <li><i class="ti-home theme-cl"></i>12/18 mobolaji Johnson street <br>Apo legislative quarters zone D Abuja Nigeria</li>
                                    <li><i class="ti-headphone-alt theme-cl"></i>(+234) 708 309 2780 <br>(+234) 809 880 0037</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                            
                    <div class="col-lg-2 col-md-2">
                        <div class="footer_widget">
                            <h4 class="widget_title">Products</h4>
                            <ul class="footer-menu">
                                <li><a href="{% url 'food:food' %} ">Food</a></li>
                                <li><a href="{% url 'fashion:fashion' %} ">Fashion</a></li>
                                <li><a href="{% url 'skincare:skincare' %}">Skincare</a></li>
                            
                            </ul>
                        </div>
                    </div>
                            
                    <div class="col-lg-2 col-md-2">
                        <div class="footer_widget">
                            <h4 class="widget_title">Our Company</h4>
                            <ul class="footer-menu">
                                <li><a href="{% url 'pages:about' %} ">About Us</a></li>
                                <!-- <li><a href="#">My company</a></li>
                                <li><a href="#">Our Studio</a></li>
                                <li><a href="#">Nightlife</a></li> -->
                            </ul>
                        </div>
                    </div>
                    
                    <!-- <div class="col-lg-2 col-md-2">
                        <div class="footer_widget">
                            <h4 class="widget_title">Latest News</h4>
                            <ul class="footer-menu">
                                <li><a href="#">Offers & Deals</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">My Products</a></li>
                                <li><a href="#">Favorites</a></li>
                            </ul>
                        </div>
                    </div> -->
                    
                    <div class="col-lg-2 col-md-2">
                        <div class="footer_widget">
                            <h4 class="widget_title">Customer Support</h4>
                            <ul class="footer-menu">
                                <li><a href="#">Conditions</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-lg-6 col-md-8">
                        <p class="mb-0">Â©Copyright 2020 Blextonhub. Designd By <a href="#">Oyiche Pro Ltd</a>.</p>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 text-right">
                        <ul class="footer_social_links">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                            <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================ Footer End ================================== -->
    
    <!-- cart -->
    <!-- Switcher Start -->
    {% include 'partials/_cart_preview.html' %}

    <!-- Product View -->
    <div class="modal fade" id="viewproduct-over" tabindex="-1" role="dialog" aria-labelledby="add-payment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="view-product">
                <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                <div class="modal-body">
                    <div class="row align-items-center">
            
                <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="sp-wrap">
                            <img src="assets/img/detail/detail-1.png" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="woo_pr_detail">
                            
                            <div class="woo_cats_wrps">
                                <a href="#" class="woo_pr_cats">Casual Shirt</a>
                                <span class="woo_pr_trending">Trending</span>
                            </div>
                            <h2 class="woo_pr_title">Profeshional Casual Shirt</h2>
                            
                            <div class="woo_pr_reviews">
                                <div class="woo_pr_rating">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star"></i>
                                    <span class="woo_ave_rat">4.8</span>
                                </div>
                                <div class="woo_pr_total_reviews">
                                    <a href="#">(124 Reviews)</a>
                                </div>
                            </div>
                            
                            <div class="woo_pr_price">
                                <div class="woo_pr_offer_price">
                                    <h3>$149<sup>.00</sup><span class="org_price">$199<sup>.99</sup></span></h3>
                                </div>
                            </div>
                            
                            <div class="woo_pr_short_desc">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores voluptatem quia voluptas sit aspernatur.</p>
                            </div>
                            
                            <div class="woo_pr_color flex_inline_center mb-3">
                                <div class="woo_pr_varient">
                                    <h6>Size:</h6>
                                </div>
                                <div class="woo_colors_list pl-3">
                                    <div class="custom-varient custom-size">
                                        <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioOne" value="5" data-toggle="form-caption" data-target="#sizeCaption">
                                        <label class="custom-control-label" for="sizeRadioOne">SM</label>
                                    </div>
                                    <div class="custom-varient custom-size">
                                        <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioTwo" value="6" data-toggle="form-caption" data-target="#sizeCaption">
                                        <label class="custom-control-label" for="sizeRadioTwo">M</label>
                                    </div>
                                    <div class="custom-varient custom-size">
                                        <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioThree" value="6.6" data-toggle="form-caption" data-target="#sizeCaption">
                                        <label class="custom-control-label" for="sizeRadioThree">L</label>
                                    </div>
                                    <div class="custom-varient custom-size">
                                        <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioFour" value="7" data-toggle="form-caption" data-target="#sizeCaption" checked>
                                        <label class="custom-control-label" for="sizeRadioFour">XL</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="woo_pr_color flex_inline_center mb-3">
                                <div class="woo_pr_varient">
                                    <h6>Color:</h6>
                                </div>
                                <div class="woo_colors_list pl-3">
                                    <div class="custom-varient custom-color red">
                                        <input type="radio" class="custom-control-input" name="colorRadio" id="red" value="5" data-toggle="form-caption" data-target="#colorCaption">
                                        <label class="custom-control-label" for="red">5</label>
                                    </div>
                                    <div class="custom-varient custom-color green">
                                        <input type="radio" class="custom-control-input" name="colorRadio" id="green" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                        <label class="custom-control-label" for="green">6</label>
                                    </div>
                                    <div class="custom-varient custom-color purple">
                                        <input type="radio" class="custom-control-input" name="colorRadio" id="purple" value="6.6" data-toggle="form-caption" data-target="#colorCaption" checked>
                                        <label class="custom-control-label" for="purple">6.5</label>
                                    </div>
                                    <div class="custom-varient custom-color yellow">
                                        <input type="radio" class="custom-control-input" name="colorRadio" id="yellow" value="7" data-toggle="form-caption" data-target="#colorCaption">
                                        <label class="custom-control-label" for="yellow">7</label>
                                    </div>
                                    <div class="custom-varient custom-color blue">
                                        <input type="radio" class="custom-control-input" name="colorRadio" id="blue" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                        <label class="custom-control-label" for="blue">7.5</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="woo_btn_action">
                                <div class="col-12 col-lg-auto">
                                    <input type="number" class="form-control mb-2 full-width" value="1" />
                                </div>
                            </div>
                            
                            <div class="woo_btn_action">
                                <div class="col-12 col-lg-auto">
                                    <button type="submit" class="btn btn-block btn-dark mb-2">Add to Cart <i class="ti-shopping-cart-full ml-2"></i></button>
                                </div>
                                <div class="col-12 col-lg-auto">
                                    <button class="btn btn-gray btn-block mb-2" data-toggle="button">Wishlist <i class="ti-heart ml-2"></i></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

</div>


<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
