{% extends 'base.html' %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}


			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- =========================== Breadcrumbs =================================== -->
			<div class="breadcrumbs_wrap dark">
				<div class="container">
					<div class="row align-items-center">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="text-center">
								<h2 class="breadcrumbs_title">No Result Page Found</h2>
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#">Shop</a></li>
									<li class="breadcrumb-item active" aria-current="page">Error Page</li>
								  </ol>
								</nav>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- =========================== Breadcrumbs =================================== -->
			
			
			<!-- =========================== Error Page =================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-12 col-md-12 text-center">
							<h2 class="error_title">4<span class="text-primary">0</span>4<i class="ti-help"></i></h2>
							<p><span class="text-primary">Woops!</span> We're sorry, but the page you were looking for doesn't exist</p>
							<a href="{{ home_url }}" class="btn btn-primary">Go To Home Page</a>
						</div>
						
					</div>
				</div>
			</section>
			<!-- =========================== Error Page =================================== -->
{% endblock %}			

			
		